.note{
    background-color: #1a1a1a;
    border-radius: 0.5em;
    padding: 0.5rem 1rem
}
.note ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2.5rem;
}
.note a{
    text-decoration: none;
    color: #646cff;
    font-size: 18px;
}
.confirm{
    background-color: #2c2c2c;
}
ul{
    /* flex: auto; */
    align-items: center;
}

input[type=text], input[type=submit]{
    font-size: 18px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #2c2c2c;
    color: rgba(255, 255, 255, 0.87);

}

input[type=text], textarea{
    background-color: #2c2c2c;
}